---
import { Image } from "astro:assets";
import hero from "../assets/images/hero-case.jpg";
import img1 from "../assets/images/case-image_1.png";
import img2 from "../assets/images/case-image_2.png";

import MainLayouts from "../layouts/MainLayouts.astro";
import Button from "../components/Button.astro";
import HeroMain from "../components/HeroMain.astro";
---

<MainLayouts title="Case Study">
  <HeroMain img={hero} topic="Case Studies single" heading="Taxes & Efficiency" />
  <section>
    <div>
      <Image src={img1} alt="A description of my image." />
      <header>
        <ul role="list">
          <li>
            <strong>Case Name</strong>
            <p>Taxes & Efficiency</p>
          </li>
          <li>
            <strong>Category</strong>
            <p>Business</p>
          </li>
          <li>
            <strong>Date</strong>
            <p>27th September 2022</p>
          </li>
        </ul>
        <Button>Live Preview</Button>
      </header>
    </div>
    <article class="flow-space">
      <h2>Project Overview</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
      <ul class="list-space">
        <li>It brings the right people together with all the right information and tools to get work done</li>
        <li>We provide operational efficiency, data security, and flexible scale</li>
        <li>Your best work, together in one package that works seamlessly from your computer</li>
        <li>Delivers the tools you need to save time Improve field performance always</li>
      </ul>
      <h3>Storyboard</h3>
      <p>
        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured
        products whereas parallel platforms. Holistically predominate extensible testing procedures for reliable supply chains.
      </p>
      <p>
        Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products completely pursue scalable
        customer service.
      </p>
      <Image src={img2} alt="A description of my image." />

      <h3>Project result</h3>
      <p>
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and
        empowerment.
      </p>
      <p>
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple
        touchpoints for offshoring.
      </p>
    </article>
  </section>
</MainLayouts>

<style>
  @layer components {
    section {
      --fill: minmax(0, 2fr);
      --elements: minmax(0, 1fr);
      --text: minmax(0, 75ch);
      /* --image: minmax(0, 3rem); */

      display: grid;
      grid-template-columns:
        [fill-start] var(--fill)
        [elements-start] var(--elements)
        [text-start] var(--text) [text-end]
        var(--elements) [elements-end]
        var(--fill) [fill-end];

      > * {
        grid-column: text;
      }

      article {
        margin-top: var(--space-5xl);
        img {
          padding-inline: var(--space-xl);
          border-radius: none;
        }
      }

      div {
        grid-column: fill;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(5, auto);
        gap: var(--space-xl);

        img {
          grid-column: fill;
          grid-row: 1 / 5;
          border-radius: var(--radius);
        }

        header {
          grid-column: elements;
          grid-row: 5 / -1;

          background: var(--neutral-900);
          border-radius: var(--radius);
          padding: var(--space-2xl) var(--space-3xl);
          display: flex;
          flex-direction: column;
          gap: var(--space-xl);
          container-type: inline-size;

          ul {
            color: var(--color-text-secondary);

            > * + * {
              margin-top: var(--space-s);
            }

            li {
              display: grid;
              grid-template-columns: 1fr 2fr;
              align-items: start;
            }
          }

          @media (width > 800px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            grid-row: 4 / -1;

            ul {
              display: flex;
              gap: var(--space-2xl);

              > * + * {
                margin-top: 0;
              }

              li {
                display: block;
              }
            }
          }
        }
      }
    }
  }
</style>
