---
import { Icon } from "astro-icon/components";

const { coreValues } = Astro.props;
const { icon, title, description, link } = coreValues;

const { data, theme = "light" } = Astro.props;
---

<li>
  <article data-theme={theme}>
    <Icon name={icon} />
    <h3>{title}</h3>
    <p>{description}</p>
    <h4><a href="#">Read More <span><Icon name="arrow" /></span></a></h4>
  </article>
</li>

<style>
  @layer components {
    li {
      flex-basis: min(270px, 90%);
      flex-shrink: 0;
    }

    [data-theme="dark"] {
      --card-bg: var(--color-bg-secondary);
    }

    article {
      background: var(--card-bg, var(--neutral-100));
      color: var(--card-txt, var(--color-text-primary));
      border-radius: var(--radius);
      padding: var(--space-2xl) var(--space-l);

      [data-icon] {
        width: 52px;
        margin-bottom: var(--space-l);
        color: var(--card-icon, var(--neutral-900));
      }

      h3 {
        margin-bottom: var(--space-2xs);
        color: var(--card-heading, var(--color-heading-primary));
      }

      h4 > a {
        color: currentcolor;
        text-decoration: none;

        margin-top: var(--space-l);
        display: flex;
        align-items: center;
        gap: var(--space-xs);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }

        span {
          [data-icon] {
            width: 13px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
</style>
