---

---

<footer>
  <p class="logo">AskExperts</p>
  <small>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</small>
</footer>

<style>
  @layer components {
    footer {
      background: var(--neutral-900);
      padding: var(--space-3xl) 0;
      text-align: center;

      p {
        padding-bottom: var(--gap);
      }

      small {
        color: var(--color-text-secondary);
        padding-top: var(--gap);
        border-top: 1px solid var(--neutral-600);
      }
    }
  }
</style>
