---

---

<header>
  <div class="header">
    <a href="/" class="logo">AskExperts</a>
    <nav class="order">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/case-study">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
    <button popovertarget="login_popup">Login</button>
  </div>
</header>
<div popover id="login_popup">
  <h2>Dashboard Login</h2>
  <form>
    <input type="email" name="email" placeholder="Enter Email" autocomplete="email" />
    <input type="password" name="password" placeholder="Enter Password" autocomplete="password" />
    <input type="submit" value="Go to dashboard" class="submit" />
  </form>
</div>

<style>
  @layer components {
    /***********************************  HEADER  ***********************************/
    header {
      background-color: var(--neutral-800);
      z-index: 100;
      position: sticky;
    }

    #login_popup {
      background-color: var(--neutral-900);
      padding: var(--space-2xl) var(--space-3xl);
      border-radius: var(--radius);

      display: none;
      &:popover-open {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
      }
      h2 {
        color: var(--color-heading-secondary);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        align-items: center;

        input {
        }
      }
      &::backdrop {
        background: rgba(0, 0, 0, 0.5);

        backdrop-filter: blur(16px);
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--space-2xl) 0;

      /* position: relative;
    z-index: 10; */
    }

    nav {
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu li {
      margin-right: 1rem;
    }

    .menu li:last-child {
      margin-right: 0;
    }

    .menu a {
      text-decoration: none;
      color: var(--color-text-secondary);
      /* display: block;
    padding: 1rem;
    color: var(--primary);

    text-transform: uppercase;
    
    transition: color 0.3s;
    text-align: end; */
    }

    .menu a:hover {
      color: var(--accent);
    }

    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;
    }

    .burger .line {
      width: 100%;
      height: 2px;
      background-color: var(--neutral-100);
      margin-bottom: 5px;
      transition: 0.2s linear;
    }
    .burger {
      display: none;
    }
    @media screen and (max-width: 800px) {

      .header{
        > 
      }
      .order {
        order: 2;
      }
      .menu {
        display: none;
      }
      .menu a {
        padding: 1rem 0;
      }
      .burger {
        display: block;
      }
      .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.2s linear;
      }
      /* Gør mid */
      .burger .line:nth-child(2) {
        opacity: 0;
      }

      .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
      }

      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
      }

      nav.active .menu {
        display: block;
        background-color: var(--neutral-800);
        opacity: 100%;
        position: absolute;
        top: 97px;
        left: 0;
        width: 100%;
        height: 100svh;
        z-index: 1;
      }

      nav.active .menu li {
        margin: 10px 10%;
        text-align: right;
      }
    }
  }
</style>

<script>
  // Burgermenu oprindelidt fundet på fronter

  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
