---
import { Image } from "astro:assets";

import Topic from "./Topic.astro";

const { topic, heading, img } = Astro.props;
---

<section class="full-bleed">
  <Image class="full-bleed" src={img} alt="Team image" />
  <article>
    <Topic>{topic}</Topic>
    <h1>{heading}</h1>
  </article>
</section>

<style>
  @layer components {
    section {
      padding: 0;

      img {
        grid-row: 1;
        min-height: 20rem;
        object-fit: cover;
      }

      article {
        grid-column: content;
        grid-row: 1;
        place-self: center start;

        background: var(--neutral-100-85);
        backdrop-filter: blur(5.5px);
        border-radius: var(--radius);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--space-xs);

        padding: var(--space-3xl) var(--space-4xl);
        z-index: 1;
      }
    }
  }
</style>
