---
import Procent from "../components/Procent.astro";
import Topic from "../components/Topic.astro";
import Text from "./Text.astro";
---

<section class="full-bleed">
  <div class="content">
    <Text topic="Experience" topicColor="white" heading="More than 25 years of experience">3000+ our clients are insured around the World</Text>
    <div class="pcts">
      <Procent pct="85" text="Consistency" />
      <Procent pct="95" text="Improvement" />
      <Procent pct="90" text="Branching" />
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      background-color: var(--brand);

      .content {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xl);

        div.pcts {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: var(--space-3xl);
        }

        @media (width > 800px) {
          display: grid;
          grid-template-columns: 1fr auto;
        }
      }
    }
  }
</style>
