---
import { Icon } from "astro-icon/components";

import ScrollingContainer from "./ScrollingContainer.astro";
import Text from "./Text.astro";
import Controls from "./Controls.astro";

const { data } = Astro.props;
---

<section class="full-bleed">
  <Icon name="financial" />
  <div class="info">
    <Text topic_hide="true" heading={data.title}> {data.subtitle} </Text>
    <Controls />
  </div>
  <ScrollingContainer cardData={data} />
</section>

<style>
  @layer {
    section {
      background: var(--color-bg-secondary);
      grid-column: full;
      display: grid;
      grid-template-columns: inherit;
      row-gap: var(--space-m);

      [data-icon="financial"] {
        width: 100px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        @media (width > 800px) {
          flex-direction: row;
          gap: var(--space-2xl);
          justify-content: space-between;
          align-items: end;
        }
      }
    }
  }
</style>
