---
import CardEmployee from "./CardEmployee.astro";
import Text from "./Text.astro";

const { data, theme = "light" } = Astro.props;
---

<section data-theme={theme}>
  <Text topic="Our team" heading="We champion the bold to achieve the extraordinary">Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</Text>

  <ul role="list">
    {data.map((employee) => <CardEmployee {employee} />)}
  </ul>
</section>

<style>
  @layer components {
    section {
      display: flex;
      flex-direction: column;
      gap: var(--space-3xl);
      margin: var(--space-4xl) 0;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: var(--space-3xl);
      align-items: center;

      @media (width > 700px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
</style>
