---
import Topic from "./Topic.astro";

const { topic, heading, topic_hide, theme } = Astro.props;
---

<article class={"text " + topic_hide} data-theme={theme}>
  <Topic>{topic}</Topic>
  <h2>{heading}</h2>

  <p><slot /></p>
</article>

<style>
  @layer components {
    [data-theme="dark"] {
      --text-color: var(--color-heading-secondary);
    }

    p,
    h2 {
      color: var(--text-color, var(--color-heading-primary));
    }
    h2 {
      margin-top: var(--space-m);
    }

    .hide > :first-child {
      display: none;
    }
  }
</style>
